*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header
{
display:flex;
border:1px solid;
align-items:center;
justify-content: space-between;
border-radius:0 30px 0 30px;
padding:20px;
background:linear-gradient(to right,rgb(163, 100, 111),rgb(95, 134, 150),rgb(82, 146, 82));

}
a
{
    text-decoration:none;
    font-weight:bold;
    color: white;


}
ul
{
list-style-type: none;
display:flex;
gap:20px;
}
li
{
   /* font-weight:bold;  */
}
#search
{
    position:relative;
    right:30px;
}
#icon
{
    display:none;
}

@media(max-width:900px)
{
nav,input,i
{
display:none;
}
#icon
{
    display:block;
}
}
